.explore{
    position:absolute;
    align-items:center;
    z-index:1;
    bottom:50px;
    font-size:26px;
    padding:20px;
    border-radius:15px;
    display:flex;
    flex-direction:column;
}


.fa-angle-down{
    height:30px;
    width:30px;
    border-radius:50%;
    box-shadow: 0 0 0 0 rgb(185, 185, 185);
	transform: scale(1);
	animation: pulse 2s infinite;
    background-color:rgba(155, 155, 155, 0);
    text-align: center;
    color:white;
    text-decoration:none;
}

.fa-angle-down:focus, .fa-angle-down:hover{
    height:30px;
    width:30px;
    animation: pulse 0s infinite;
    background-color:rgba(199, 199, 199, 0.527);
    box-shadow: 0 0 0 15px rgba(155, 155, 155, 0);
    cursor:pointer;


}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(175, 175, 175, 0.7);
        background-color:rgba(175, 175, 175, 0.7);
        
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(155, 155, 155, 0);
        background-color:rgba(155, 155, 155, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(175, 175, 175, 0);
        background-color:rgba(175, 175, 175, 0);
	}
}

