.faqs{
    position:relative;
    width:100%;
    height:40em;
}

.supra {
     
    height:25em;
    width:auto;

}

.frequently-asked{
    position:absolute;
    font-family: 'Kanit', sans-serif;
    font-size:50px;
    font-weight:600;
    top:20%;
    text-align:center;
    display:flex;
    flex-direction: column;
}

.faq{
    position:absolute;
    font-family: 'Kanit', sans-serif;
    font-size:50px;
    top:10%;
    font-weight:600;
}

.faq-description{
    font-family: 'Kanit', sans-serif;
    font-size:18px;
    color:rgb(121, 121, 121);
    font-weight:400;
}

.questions{
    position:absolute;
    height:350px;
    box-shadow:1px 0px 6px 1px rgb(212, 212, 212);
    top:40%;
    left:27%;
}

