.insurance{
    position:relative;
    width:100%;
    background-color:rgb(245, 243, 243); 
    align-items:center;
    display:flex;
    flex-direction: row;
    gap:7rem;
    height:fit-content;
    padding:5rem 0;
    font-family: 'Kanit', sans-serif;
    
}

.travel-description{
    width:35rem;
    margin-left:15rem;
}


.cover{
   
    height:16rem;
    background-color:rgba(255, 255, 255, 0.603);
    color:rgb(121, 121, 121);
    box-shadow:1px 0px 6px 1px rgb(212, 212, 212);
    display:flex;
    flex-direction:row;
    gap:5rem;
    align-items:center; 
    margin:0 5rem;
    
}

.price-cancellation{
    gap:24rem;
    margin-left:6rem;
}

.quote{ 
    display:flex;
    flex-direction:row;
    font-family: 'Kanit', sans-serif;
    font-size:50px;
    font-weight:600;
}

.piece{
    color:rgb(83, 96, 214);
}

.insurance-description{
    font-size:18px;
}


.what-is{
    font-family: 'Kanit', sans-serif;
   
    color:black;
    
   
}

.what{
   
    display:flex;
    flex-direction:column;
    gap:2rem; 
    margin-left:2rem;
    
}
.no{
    font-family: 'Kanit', sans-serif;
    color:black;
}
.full{
    font-family: 'Kanit', sans-serif;
    color:black;
    margin-bottom:1rem;
}



.no-insurance {
    
      
    display:flex;
    flex-direction:column;
    gap:2rem;
    text-align:center;
    border:solid 0px;
    border-radius:10px;
    margin-right:1rem;

}

.full-insurance{
    
    display:flex;
    flex-direction:column;
    gap:1.4rem;
    text-align:center;
    border:solid 0px;
    border-radius:10px;
    margin-right:1rem;
    margin-top:0.8rem;
    
    
}

.insurance-price{
    
    font-size:23px;
}

.cancellation{
   
    font-size:20px;
    margin-top:15px;
    color:rgb(126, 126, 165);
    font-weight:600;
}

.price-cancellation{
    display:flex;
    flex-direction:row;
    
}

.fa{
    font-size:20px;
    
}


@media (max-width:1650px){
    .insurance{
        flex-direction:column;
        align-items:center;
        gap:2rem;
    }
    
    
    .travel-description{
        
        padding:1rem 1rem;
        width:70%;
        margin-left:0rem;
        margin-top:0rem;
        
    }
    
    .price-cancellation{
      display:flex;
      flex-direction:column;
      margin-left:6rem;
      gap:0rem;
    }
    
}


@media (max-width:768px){
    
    .insurance{
        gap:0;
        height:fit-content;
        width:100%;
    }
    .quote{
        width:fit-content;
        font-size:32px;
    }

    .travel-description{
        
        padding:1rem 1rem;
       
        
    }
    .cover-total{
        width:90%;
      
    }
    .cover{
        
        padding:1rem 0rem;
        height: 15rem;
        font-size:smaller;    
        gap:1rem;
        margin:0 auto;
    }

    .what{
        font-size:12px;
        display:flex;
        flex-direction:column;
        gap:1.3rem;
        color:rgb(121, 121, 121);
        margin-left:1rem;   
        margin-top:1rem;  
    }
    

    .what-is{
        font-size:12px;
        font-family: 'Kanit', sans-serif;
        margin-left:0;
        color:black;
        
        
      
    }

    
    .no{
        font-family: 'Kanit', sans-serif;
        color:black;
    }
    .full{
        font-family: 'Kanit', sans-serif;
        color:black;
        
    }
    
    .line{
      
        width:100%;
        height:1px;
        background-color:black;
        top:25%;
    
    }
    
    .no-insurance{
        
        display:flex;
        flex-direction:column;
        text-align:center;
        gap:1.3rem;
    }
    
    .full-insurance{
        
        display:flex;
        flex-direction:column;
        text-align:center;
        gap:0.7rem;
        margin-top:1.3rem;
        
    }
    
    .insurance-price{
        
        font-size:13px;
    }
    
    .cancellation{
       
        font-size:12px;
        color:rgb(126, 126, 165);
        font-weight:600;
    }
    .price-cancellation{
        margin-left:2rem;
    }
  
}

@media (max-width:550px)
{   
    
    .no-insurance{
        margin-bottom:2rem;
        gap:2rem;
    }
    .full{
        margin-top:-0.5rem;
        margin-bottom:2rem;
    }
    .full-insurance{
        
        margin-bottom:2rem;
   
        gap:0.9rem;
        
    }

}
@media (max-width:390px){
    .cover{
        height:fit-content;
        gap:0.5rem;
    }

    .full{
        margin-bottom:0.5rem;
    }
}