.models-title{
font-size:45px;
font-family: 'Montserrat Alternates', sans-serif;
margin:0 auto;

text-align:center;
width:30%;
padding-top:6rem;

padding-bottom:0.5rem;
}


.models{
    position:relative;
    font-family: 'Kanit', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:1rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top:5rem;
    padding-bottom:10rem;
}

.btn{
    
  background-color:rgb(233, 233, 233);
  color:rgb(0, 0, 0);
  width:15rem;
  height:3rem;
  border:solid 0;
  font-family: 'Kanit', sans-serif;
  font-weight:500;
  font-size:20px;
}

.btn:focus, .btn:hover {
  
  background-color:rgb(83, 96, 214);
  transition: all 0.3s ease;
  color:white;
  cursor:pointer;
}

.car-stats-info{
    display:flex;
    flex-direction:column; 
      
}

.select-cars{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: right center;
    padding-left:24rem;
     
}

.car-select{

  text-align: center;
  align-items: center; 
  

}
.card{
    width:30em;
    margin:0 auto;   
}

.card_image{
  border-bottom:1px solid black;
  height:17rem;
  
  
}
.card_image img{
  
  width:30em;
  height:auto;
}

.brand-name{
  margin-bottom:2rem;
}

.products{
  box-sizing: border-box;
  color: black;
  text-align: center;

}

.description{
    font-family: 'MonteCarlo', cursive;
    height:3rem;
    font-size:30px;
    margin-bottom:4rem;
}

.reserve-now{
    
    width:10rem;
    height:3rem;
    text-align:center;
    background-color: rgb(83, 96, 214);
    color:white; 
    border:solid 0;
    font-size:22px;
    font-weight:600;
    font-family: 'Kanit', sans-serif;
    
}

.reserve-now:hover{
    background-color: rgb(125, 138, 253);
    cursor: pointer;
}

.stats{
    
    width:17rem;
    text-align:center;
}

.price-section{
 width:100%;
 height:3rem;
 margin-bottom:15px;
 text-align:center;
 background-color: rgb(83, 96, 214);
 color:white;
}

.price{
    font-size:27px;
    padding:3px;
    font-family: 'Rowdies', cursive;
}


.power-bar{
    
    height:8px;
    background-color:rgb(83, 96, 214);
    margin-bottom:20px;
    border-radius:5px;
    animation: load-bar-power 1s ease-in-out forwards;
}

.power-bar-empty{
    
    height:8px;
    background-color:rgb(204, 204, 224);
    margin-bottom:20px;
    border-radius:5px;   
}

.comfort-bar{
    
    height:8px;
    background-color:rgb(83, 96, 214);
    margin-bottom:20px;
    border-radius:5px;
    animation: load-bar-comfort 1s ease-in-out forwards;
}
.comfort-bar-empty{
    
    height:8px;
    background-color:rgb(204, 204, 224);
    margin-bottom:20px;
    border-radius:5px;   
}

.trunk-bar{  
    
    height:8px;
    background-color:rgb(83, 96, 214);
    margin-bottom:20px;
    border-radius:5px;
    animation: load-bar-trunk 1s ease-in-out forwards;
}

.trunk-bar-empty{
    
    height:8px;
    background-color:rgb(204, 204, 224);
    margin-bottom:20px;
    border-radius:5px;   
}

table {
    margin-top:3rem;
    border-collapse: collapse; 
    text-align:center;
    font-family: 'Kanit', sans-serif;
    font-weight:500;
    font-size:13px;
    width:17rem;
    flex-direction:column;
    background-color:rgb(233, 233, 233);
    color:rgb(0, 0, 0);
    
  }
  
  td {

    border-left: 3px solid rgb(255, 255, 255);
   
    border-right:3px solid rgb(255, 255, 255);

    border-bottom:3px solid rgb(255, 255, 255);

    padding: 12px;
    width:80px;
    
    
  }
  
  .table-type-1{
    background-color:rgb(233, 233, 233);
  

  }

  .table-type-2{
    background-color:rgb(233, 233, 233);
  }


  .table-info-1{
    background-color:rgb(233, 233, 233);
  }

  .table-info-2{
    background-color:rgb(233, 233, 233);
  }



@keyframes load-bar-power {
    0% { width: 0% }
    100% { width:var(--load-bar-width-power); }
  }

@keyframes load-bar-comfort {
    0% { width: 0% }
    100% { width:var(--load-bar-width-comfort); }
  } 
@keyframes load-bar-trunk {
    0% { width: 0% }
    100% { width:var(--load-bar-width-trunk); }
  }   



  

 
  @media (max-width: 1600px) {

    .models{ 
     grid-template-columns: 1fr 1fr;   
     width: fit-content; 
     padding-left:1rem;
     
     }
     .select-cars{
        
        width:15rem;
        padding:0;
        margin:0;
    } 

    .card{
        width:25rem;
        margin:0;
    }
    .card img{
      width:25rem;
    }
     .car-stats-info{
        display:flex;
        flex-direction:row;  
        grid-column: 1 / -1; 
        padding:0;
        margin:0;
    } 
            
     .stats{
      padding:0;
      padding-top:2rem;
      margin:0;
      margin-left:-1.2rem;
     }
     table{
      position:absolute;
      right:4rem;
      bottom:8em;
     
     }
} 

@media (max-width: 768px) {
    .models-title{
      width:80%;
    }
    .models{   
     box-sizing:border-box;
     grid-template-columns: 1fr ;   
     align-items:center;
     text-align:center;
     
     }
     .select-cars{
         width:18rem;
         align-items:center;
         text-align:center;
         margin:0 auto;
    } 
     .card{
      width:90%;
      padding:0;
      margin:0 auto;
     }
     .card_image{
      margin-top:3rem;
      height:auto;
     }
     .card img{
      width:90%;
     }
     
     .description{
     
      font-size:20px;
     }
     .car-stats-info{
        width:15rem;
        display:flex;
        flex-direction:column;
        gap:3rem;   
        grid-column: 1 / -1; 
        margin:0 auto;
       
     }
     .price{
      font-size:20px;
     }
     .stats{
        width:15rem;
        
        margin:0 auto;
     }
     .car-stats-info{
      margin-top:-5rem;
     }
     table{
      
        position:static;
        width:15rem;
        margin:0 auto;
        
     
     }

     .reserve-now{
      position:absolute;
      bottom:2.5%;
      left:50%;      
      transform: translate(-50%, -50%);
     }
} 


@media (max-width:450px){
  .models-title{
    font-size:35px;
  }
  .btn{
 
    width:60%;
   
}
}