table {

    position:absolute; 
    border-collapse: collapse; 
    text-align:center;
    font-family: 'Kanit', sans-serif;
    font-weight:500;
    font-size:13px;
    top:40%;
    right:15%;
    flex-direction:column;
    background-color:rgb(233, 233, 233);
    color:rgb(0, 0, 0);
    
  }
  
  td {

    border-left: 3px solid rgb(255, 255, 255);
   
    border-right:3px solid rgb(255, 255, 255);

    border-bottom:3px solid rgb(255, 255, 255);

    padding: 12px;
    width:80px;
    
    
  }
  
  .table-type-1{
    background-color:rgb(233, 233, 233);
  

  }

  .table-type-2{
    background-color:rgb(233, 233, 233);
  }


  .table-info-1{
    background-color:rgb(233, 233, 233);
  }

  .table-info-2{
    background-color:rgb(233, 233, 233);
  }